img{
	border: 0;
}

body{
	/*font-family: "幼圆", "微软雅黑", "宋体", "黑体", Arial;*/
	font-family: arial, 'Hiragino Sans GB', simhei, sans-serif;
	font-size: 14px;
}
/*
html, body{
	-webkit-text-size-adjust: none;
	-o-text-size-adjust: none;
}
*/

#container{
	position: relative;
	width: 1000px;
	height: auto;
	padding: 0;
	margin: 0 auto;
	margin-top: -8px;
	background-color: #e1e2ea;
}

#header{
	position: relative;
	width: 960px;
	height: 40px;
	/*margin-bottom: -4px;*/
	padding-top: 0px;
}

#header a{
	text-decoration:none;
	color: #20274f;
}

#t_blank{
	position: relative;
	width: 1000px;
	height: 15px;
}

#header #logo1{
	position: relative;
	margin-left: 20px;
	margin-top: -4px;
	float: left;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

#header #logo2{
	position: relative;
	margin-left: 30px;
	margin-top: -10px;
	float: left;
}

#header #logo3{
	font-weight: bold;
	position: relative;
	margin-right: 0px;
	margin-top: -7px;
	float: right;
}
#header #logo3 a{
	color: #e0e1e9;
}

#header #logo4{
	position: relative;
	margin-right: 30px;
	margin-top: -10px;
	float: right;
}

#ads{
	position: relative;
	width: 1000px;
	height: 80px;
	margin: 0;
	padding: 0;
}

#titleboard{
	position: absolute;
	margin: 0;
	padding: 0;
}
#titleboard #board_inner{
	position: absolute;
}
#titleboard #board_outer{
	position: absolute;
}

#menu{
	position: relative;
	width: 980px;
	height: 68px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 0;
	/*background-color: #4d67b0;*/
}

#menu #menulogo{
	position: relative;
	/*width: 128px;
	height: 56px;*/
	margin-top: -29px;
	margin-right: 10px;
	padding: 0;
	float: left;
}

#menu #menuinterface{
	position: relative;
	width: 730px;
	height: 24px;
	margin-left: -16px;
	padding: 0;
	float: left;
}

#menu #menuinterface .divoptions{
	position: relative;
	width: 96px;
	height: 72px;
	margin-left: -4px;
	margin-top: -26px;
	text-align: center;
	float: left;
}
#menu #menuinterface #divoption0{
	margin-left: 20px;
}
#menu #menuinterface .divoptionsimg{
	position: absolute;
	left: 0px;
	top: 4px;
}
#menu #menuinterface .divoptions-text{
	position: absolute;
	width: 96px;
	height: 20px;
	top: 32px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}
#menu #menuinterface #divoptions-text3{
	color: #20274e;
}

#menu .search-input2{
	left: 648px;
	top: -5px;
	width: 96px;
	height: 22px;
	position: absolute;
	background-color: #e1e2ea;
	color: #222141;
	border: none;
}
#menu #menuinterface #searchpaw{
	left: 760px;
	top: -7px;
	position: absolute;
	cursor: pointer;
}
input::-webkit-input-placeholder {
    color: #222141;
    font-weight: bold;
}
input:-moz-placeholder {
    color: #222141;
    font-weight: bold;
}

#content{
	position: relative;
	width: 1000px;
	margin-top: -32px;
	padding: 0;
}
/*
#contentLeft{
	position: relative;
	width: 140px;
	margin: 10px 0 0 0;
	padding: 0;
	border: none;
	float: left;
}

.browserlv1 .browsertop{
	position: relative;
	background-color: #f5f5f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	color: #0192b5;
	font-size:14px;
	width: 132px;
	height: 24px;
	padding-top: 8px;
	padding-left: 8px;
}

.browserlv1 .browserlv2{
	position: relative;
	background-color: #f5f5f1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	color: #0192b5;
	font-size: 14px;
	width: 122px;
	height: 24px;
	padding-top: 8px;
	padding-left: 18px;
}
*/

#contentRight{
	position: relative;
	width: 1000px;
	margin-top: -2px;
	padding: 0;
	padding-bottom: 20px;
}
#contentRight .item{
	background-color: #fff;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 22px;
	border: 1px solid #ececec;
}
#contentRight .picsitem{
	width: 224px;
	height: auto;
	position: absolute;
	border: 1.7px solid #c9cbcd;
	border-radius: 10px;
	background-color: #ffffff;
}
#contentRight .picsitem .picsitemupper{
	width: 224px;
	height: 9px;
	position: relative;
}
#contentRight .picsitem .picsitemmiddle{
	width: 224px;
	height: 208px auto;
	position: relative;
	margin-top: 10px;
}
#contentRight .picsitem .picsitemmiddle .upicsframes{
	/*width: 220px;
	height: 176px;*/
	position: relative;
	margin-top: 0px;
	margin-left: 10px;
}
#contentRight .picsitem .picsitemmiddle .upicsframes .upicsinner{
	/*width: 220px;
	height: 176px;*/
	position: absolute;
	z-index: 12;
}
#contentRight .picsitem .picsitemmiddle .upicsframes .upicsinner_bk{
	/*width: 220px;
	height: 176px;*/
	position: absolute;
	z-index: 11;
}
#contentRight .picsitem .picsitemmiddle .upicsback{
	width: 224px;
	height: 208px;
	position: absolute;
	z-index: -1;
	left: 0px;
}
#contentRight .picsitem .picsitemlower{
	width: 224px;
	height: 89px;
	position: relative;
	margin-top: -4px;
}
#contentRight .picsitem .breakline{
	width: 204px;
	height: 2px;
	left: 10px;
	top: 8px;
	position: absolute;
	background-color: #c9cbcd;
}
#contentRight .picsitem .picsitemlower .usersname{
	width: 96px auto;
	height: 16px;
	left: 8px;
	top: 12px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	color: #2c3055;
	margin-right: 8px;
}
#contentRight .picsitem .picsitemlower .commentcontainer{
	width: 160px;
	height: 32px;
	position: absolute;
	top: 32px;
	left: 8px;
	color: #2c3055;
	font-size: 12px;
	overflow: hidden;
}
#contentRight .picsitem .picsitemlower .commentcontainer .commenttopic{
	width: 160px;
	height: auto;
	position: absolute;
	color: #2c3055;
	font-size: 12px;
}
#contentRight .picsitem .picsitemlower .usersprofiles{
	width: 208px;
	height: 32px;
	position: absolute;
	top: 16px;
	left: 8px;
}
#contentRight .picsitem .picsitemlower .usersprofiles .usershead{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	float: right;
}
#contentRight .picsitem .picsitemlower .usersprofilesupper{
	width: 208px;
	height: 32px;
	position: absolute;
	top: 16px;
	left: 8px;
	z-index: 10;
}
#contentRight .picsitem .picsitemlower .usersprofilesupper .usersheadring{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	float: right;
}
#contentRight .picsitem .picsitemlower .bottomfunc{
	width: 224px;
	height: 16px;
	position: absolute;
	top: 72px;
	left: 8px;
	font-size: 12px;
	color: #2c3055;
	font-weight: bold;
}
#contentRight .picsitem .picsitemlower .bottomfunc .readmore{
	width: 80px;
	height: 16px;
	left: 0px;
	top: -2px;
	position: absolute;
	color: #4568b1;
}
#contentRight .picsitem .picsitemlower .bottomfunc .readmorearrow{
	left: 80px;
	top: 2px;
	width: 6px;
	height: 9px;
	position: absolute;
}
#contentRight .picsitem .picsitemlower .bottomfunc .feedbackpic{
	left: 104px;
	width: 12px;
	height: 12px;
	position: absolute;
}
#contentRight .picsitem .picsitemlower .bottomfunc .feedback{
	left: 118px;
	width: 16px;
	height: 16px;
	top: -2px;
	position: absolute;
	text-align: right;
	color: #4568b1;
}
#contentRight .picsitem .picsitemlower .bottomfunc .forwardpic{
	left: 140px;
	width: 12px;
	height: 12px;
	position: absolute;
}
#contentRight .picsitem .picsitemlower .bottomfunc .forwardnum{
	left: 154px;
	width: 16px;
	height: 16px;
	top: -2px;
	position: absolute;
	text-align: right;
	color: #4568b1;
}
#contentRight .picsitem .picsitemlower .bottomfunc .praisepic{
	left: 176px;
	width: 12px;
	height: 12px;
	position: absolute;
}
#contentRight .picsitem .picsitemlower .bottomfunc .praise{
	left: 190px;
	width: 16px;
	height: 16px;
	top: -2px;
	position: absolute;
	text-align: right;
	color: #4568b1;
}
#contentRight .picsitem .picsitemlower .lpicsback{
	width: 240px;
	height: 81px;
	position: absolute;
	z-index: -1;
}

#footer{
	text-align: center;
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0;
	padding: 0;
	border: none;
	clear: both;
}
.item_photo{
	position:relative;
	width:40px;
	height:40px;
}
