#header{
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	padding-top: 10px;
	border: 1px black solid;
}
#header .refs{
	position: relative;
	width: 80px;
	height: 24px;
	margin: 5px;
	font-size: 17px;
	padding-top: 6px;
}
#header #ref1{
	float: left;
	margin-left: 20px;
}
#header #ref2{
	float: left;
}
#header #ref3{
	float: left;
}
#header #ref4{
	float: right;
}
#header #ref5{
	float: right;
	margin-right: 20px;
}

#headtab{
	position: relative;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px black solid;
}
#headtab #logoarea{
	position: relative;
	width: 120px;
	height: 80px;
	margin: 10px;
	border: 1px black solid;
	float: left;
}
#headtab .infos{
	position: relative;
	width: 64px;
	height: 24px;
	margin-top: 60px;
	margin-left: 10px;
	font-size: 14px;
	padding-top: 6px;
	border: 1px black solid;
	text-align: center;
	float: left;
}
#headtab #info6{
	color: #ffffff;
	background-color: #ff8000;
}
#headtab #search-input{
	float: left;
	width: 240px;
	height: 24px;
	margin-top: 60px;
	margin-left: 10px;
	font-size: 14px;
}
#headtab #ichong{
	position: relative;
	width: 96px;
	height: 24px;
	margin-top: 60px;
	margin-left: 16px;
	font-size: 14px;
	padding-top: 6px;
	border: 1px black solid;
	text-align: center;
	float: left;
}

#mainbody{
	position: relative;
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px black solid;
}
#mainbody #leftarea{
	position: relative;
	width: 140px;
	height: 380px;
	margin: 10px;
	border: 1px black solid;
	float: left;
}
#mainbody #leftarea #ownerhead{
	position: relative;
	width: 140px;
	height: 140px;
	border: 1px red solid;
}
#mainbody #leftarea #ownername{
	position: relative;
	width: 140px;
	height: 30px;
	border: 1px red solid;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mainbody #leftarea .newsbtns{
	position: relative;
	width: 140px;
	height: 30px;
	border: 1px red solid;
}
#mainbody #midarea{
	position: relative;
	width: 660px;
	height: 380px;
	margin: 6px;
	margin-top: 10px;
	border: 1px black solid;
	float: left;
}
#mainbody #rightarea{
	position: relative;
	width: 140px;
	height: 380px;
	margin: 10px;
	border: 1px black solid;
	float: left;
}
#mainbody #rightarea .petnames{
	position: relative;
	width: 140px;
	height: 30px;
	border: 1px red solid;
	margin-bottom: 10px;
}
#mainbody #rightarea .petheads{
	position: relative;
	width: 140px;
	height: 140px;
	border: 1px red solid;
	margin-bottom: 10px;
}

#footer{
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px black solid;
	text-align: center;
}
